body {
    background: #1C1B1F;
    color: #B0BEC5;
}
.led-table td {
    border: 2px solid #B0BEC5;
}
.led-table {
    border-collapse: collapse;
    width: 325px;
}
.section-table td {
    border: 0;
}
.bold {
    font-weight: bold;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.cyan {
    background-color: cyan;
}
.magenta {
    background-color: magenta;
}
.black {
    background-color: black;
}
.blink {
    animation: blink 1000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.vivid-led {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.fast {
    animation: blink 500ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.slow {
    animation: blink 2000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.double-blink-red {
    animation: double-blink-orange 1000ms infinite;
    animation-timing-function: steps(3, jump-none);
}
.double-blink-orange {
    animation: double-blink-orange 1000ms infinite;
    animation-timing-function: steps(3, jump-none);
}
.double-blink-green {
    animation: double-blink-green 1000ms infinite;
    animation-timing-function: steps(3, jump-none);
}
.blink-white {
    animation: blink-white 1000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.fast-white {
    animation: blink-white 1000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.blink-orange {
    animation: blink-orange 1000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
.slow-orange {
    animation: blink-orange 2000ms infinite;
    animation-timing-function: steps(2, jump-none);
}
@keyframes blink {
    100% {
        background-color: black;
    }
}
@keyframes double-blink-red {
    0% {
        background-color: red;
    }
    59% {
        background-color: red;
    }
    60% {
        background-color: black;
    }
    80% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}
@keyframes double-blink-orange {
    0% {
        background-color: orange;
    }
    59% {
        background-color: orange;
    }
    60% {
        background-color: black;
    }
    80% {
        background-color: orange;
    }
    100% {
        background-color: black;
    }
}
@keyframes double-blink-green {
    0% {
        background-color: green;
    }
    59% {
        background-color: green;
    }
    60% {
        background-color: black;
    }
    80% {
        background-color: green;
    }
    100% {
        background-color: black;
    }
}
@keyframes blink-white {
    100% {
        background-color: white;
    }
}
@keyframes blink-orange {
    100% {
        background-color: orange;
    }
}
.led {
    width: 50px;
    border: .5px black solid !important;
}
.highlight {
    background-color: #FBC02D;
    font-weight: bold;
    color: #000000;
}
.section-table td {
    vertical-align: top;
}
summary {
    font-size: 24px;
}
code {
    background-color: #212121;
    border-radius: 2px;
    padding: 1px 2px;
}